<html>
<body background-color="grey" >
	
<div style="width:100%;height:100%;float:left;clear:both;">
<div style="width:1024px;margin:0 auto;height:auto;">
<h1 style="width:100%;float:left;clear:both;text-align:center;">Welcome To Reports Record</h1>

</h1>
<div style="width:100%;float:left;clear:both;height:auto;">
	<a href="http://localhost:3000/reports/new">
	<div style="width:22%;height:250px;float:left;text-align:center;border:1px solid #eaeaea;background:lightgreen;border-radius:5px;margin-right:2%;">
		<h3 style=""> Add Reports</h3>
		<p style="">Click to Add Daily Reports</p>
	</div>
    </a>
    <a href="http://localhost:3000/generators/search">
	<div style="width:22%;height:250px;float:left;text-align:center;border:1px solid #eaeaea;background:yellow;border-radius:5px;margin-right:2%">
	<h3 style="">Generate Reports</h3>
	<p style="">Click to generate Reports</p>
	</div>
	</a>
    <a href="http://localhost:3000/reports">
	<div style="width:22%;height:250px;float:left;text-align:center;border:1px solid #eaeaea;background:#e9e9e9;border-radius:5px;margin-right:2%">
	<h3 style="">All Reports</h3>
	<p style="">Click to see All Reports</p>
	</div>
    </a>
    <a href="http://localhost:3000/generators/employees">
	<div style="width:22%;height:250px;float:left;text-align:center;border:1px solid #eaeaea;background:#e9e9e9;border-radius:5px;margin-right:2%">
	<h3 style="">List Employees</h3>
	<p style="">Click to see All Employees with Reports</p>
	</div>
    </a>
    
</div>
</div>
</div>
</body>
</html>

